server/node_modules/
server/public/node_modules/
server/public/app/components/
public/node_modules/
public/.tmp/
public/dist/
public/temp/
public/app/bower_components
*.DS_Store
*.log
*.seed
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

